<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<div class='container'>
    <div class='row'>
        <div class='col-md-6'>
            <div class='well'>
                <h2 class='text-center'>Basic Membership</h2>
                <h4>Sign up for free and get basic access to the community.</h4>
                <br>
                <%= link_to "Sign up with Basic", "#", class: 'btn btn-primary btn-lg btn-block' %>
            </div>
        </div>
        <div class='col-md-6'>
            <div class='well'>
                <h2 class='text-center'>Pro Membership</h2>
                <h4>For $10/month get full access to the community.</h4>
                <br>
                <%= link_to "Sign up with Pro", "#", class: 'btn btn-success btn-lg btn-block' %>
            </div>
        </div>
    </div>
</div>